@using Badge.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Badge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Badge.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5af49ac99a.js" crossorigin="anonymous"></script>


</head>
<body>
    <div class="t-navbar">
        <div class="t-navbar-item">
            @if (SignInManager.IsSignedIn(User))
            {
                var user = @UserManager.GetUserAsync(User).Result;
                var rndm = new Random(user.LName.Length*user.FName.Length);
                int hue = rndm.Next(0, 360);
                if (user.AppUImageData != null)
                {
                    <div class="No-Img">
                        <img style="width:100%; height:100%;" src="data:image/png;base64,@user.AppUImageData" />
                    </div>
                }
                else
                {
                    <div class="No-Img" style="background-color:hsl(@hue, 55%, 60%)">
                        <p>@user.FName.ToCharArray()[0]@user.LName.ToCharArray()[0]</p>
                    </div>
                }
            }
        </div>
        <div class="t-navbar-item right">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <div style="height:50px; width:50px;">
                    <img src="/images/Menu.svg" />
                </div>
            </a>
        </div>
    </div>
    <div class="menu" id="menu">
        <div class="t-navbar-item right">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">         
            <div style="height:50px; width:50px;">
                <img src="/images/Close.svg" />
            </div>
            </a>
        </div>
        <div class="menu-list">
            <a class="menu-list-a" asp-page="~/"asp-area="" style=" height: 60px; display:block; text-align:center; font-size: 20px;">Hjem</a>
            <a class="menu-list-a" asp-area="" style=" height: 60px; display:block; text-align:center; font-size: 20px;">Din side</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="menu-list-a">Log Ud</button>
            </form>
        </div>
    </div>

    <div class="app-main">
        @RenderBody()
    </div>


    <script>
        function myFunction() {
            var x = document.getElementById("menu");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>
</html>


