
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Badge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Badge.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
        <nav class="l-navbar">
            <div class="navbar-inner">
                <div class="navbar-logo"><a asp-area="" asp-page="/Index"><img style="width:45px; height:45px;" src="~/images/logo.png" />Badge</a></div>
                
                </button>
                <div>
                    <ul class="l-nav-container">
                        <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/" ? "nav-item-active" : "" )">
                            <a asp-area="" asp-page="/Index">Dashboard</a>
                        </li>
                    <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/Administration/Gruppe" ? "nav-item-active" : "" )">
                            <a asp-area="" asp-page="/Administration/Gruppe/Index">Grupper</a>
                        </li>
                    <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/Administration/Medlem" ? "nav-item-active" : "" )">
                            <a asp-area="" asp-page="/Administration/Medlem/Index">Medlemmer</a>
                        </li>
                    <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/Administration/Foraeldre" ? "nav-item-active" : "" )">
                            <a asp-area="" asp-page="/Administration/Foraeldre/Index">Forældre</a>
                        </li>
                    <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/Administration/Lodsedler" ? "nav-item-active" : "" )">
                            <a asp-area="" asp-page="/Administration/Lodsedler/Index">Lodsedler</a>
                        </li>
                    <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/Administration/Salg" ? "nav-item-active" : "" )">
                            <a asp-area="" asp-page="/Administration/Salg/Index">Salg</a>
                        </li>
                    </li>
                    <li class="l-nav-item @(Accessor.HttpContext.Request.Path.Value == "/Administration/Brugere" ? "nav-item-active" : "" )">
                        <a asp-area="" asp-page="/Administration/Brugere/Index">Brugere</a>
                    </li>
                        
                    </ul>
                    
                </div>
                <div class="navbar-login"><partial name="_LoginPartial" /></div>
            </div>
        </nav>
    
    <div class="main-container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Badge - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>