@page
@using Badge.Interfaces
@model Badge.Pages.Admin.Statistikker.IndexModel
@inject ISalesService salesService;
@{

}
<div class="tab">
    <div class="tab-button">
        <a asp-page="./Index"
           asp-route-currentFilter="" asp-route-sortOrder="">
            Fane1
        </a>
    </div>
    <div class="tab-button">
        <a asp-page="./Index" asp-route-myGroups="true"
           asp-route-currentFilter="" asp-route-sortOrder="">
            Fane2
        </a>
    </div>
</div>


<div class="box-full index-container">
    <div class="index-content box-full">
    <div class="stat-container">
        <div class="stat-box">
            <div class="stat-box-inner">
                <h1>
                    @Model.SalesTotal
                </h1>
                <p>Salg i hele perioden</p>
            </div>
        </div>

        <div class="stat-box">
            <div class="stat-box-inner">
                <div class="stat-box-inner">
                    <h1>
                        @Model.SalesWeek
                    </h1>
                    <p>Salg denne uge</p>
                </div>
            </div>
        </div>
        <div class="stat-box">
            <div class="stat-box-inner">
                <h1>
                    @Model.TicketsTotal
                </h1>
                <p>Indkøbte lodsedler</p>
            </div>
        </div>
        <div class="stat-box">
            <div class="stat-box-inner">
                <h1>
                    @Model.SalesTotal
                </h1>
                <p>Salg i alt</p>
            </div>
        </div>
        <div class="stat-box">
            <div class="stat-box-inner">
                <h1>
                    @Model.SalesTotal
                </h1>
                <p>Salg i alt</p>
            </div>
        </div>
        <div class="stat-box">
            <div class="stat-box-inner">
                <h1>
                    @Model.SalesTotal
                </h1>
                <p>Salg i alt</p>
            </div>
        </div>
    </div>
</div>
    <div class="index-content box-full">
        <div style="width:600px;">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    
</div>
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Købte Lodsedler', 'Solgte lodsedler'],
                datasets: [{
                    label: '',
                    data: [@salesService.GetTicketsCount, @salesService.GetSalesCount],
                    borderWidth: 0
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },

                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        grid: {
                            display: false
                        }
                    }

                }
            }
        });
    </script>


