@page
@using Badge.Resources
@model Badge.Pages.Admin.GroupAdmin.IndexModel


@{
    ViewData["Title"] = "Grupper";

}

<div class="tab">
    <div class="tab-button @(Model.MyGroups ? "" : "active")">
        <a asp-page="./Index" asp-route-mygroups="false"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Alle Grupper
        </a>
    </div>
    @if (User.IsInRole("Leader"))
    {
        <div class="tab-button @(Model.MyGroups ? "active" : "")">
            <a asp-page="./Index" asp-route-myGroups="true"
               asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
                Mine Grupper
            </a>
        </div>
    }
</div>


<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">
        <div class="col-7" >
            <h1>Grupper</h1>
        </div>
        <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        @if (User.IsInRole("Manager"))
        {
            <a asp-page="Create">
                <button style="margin:auto; margin-right:0; width:100%;" class="btn-def">Opret</button>
            </a>
        }
            
        </div>
    </div>

<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">

        <form asp-page="./Index" method="get" style="padding:0; margin:0;">
            <div class="form-actions no color">
                <p style="padding:0; margin:0;">

                    <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                        <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                    </div>
                    <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                        <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn-def" />
                    </div>
                </p>
            </div>
        </form>
    </div>


    <table>
        <thead>
            <tr>
                <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-myGroups="@Model.MyGroups">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Groups[0].Name)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Name"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
                </th>

                <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.TypeSort" asp-route-myGroups="@Model.MyGroups">
                    <div class="srt-container">
                        <div class="srthead-container">
                            Gruppetype
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Type"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
                </th>
                <th >
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.LeaderSort" asp-route-myGroups="@Model.MyGroups">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Groups[0].Leader)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Leader"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
                </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.MembersSort" asp-route-myGroups="@Model.MyGroups">
                    <div class="srt-container">
                        <div class="srthead-container">
                            Antal medlemmer
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Members"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Groups)
            {
            var color = ColorResource.ResourceManager.GetString(item.GroupType.Name);
                
            <tr id="group-tr">
                <td>
                    <div class="group-marker" style="background-color: @color;">
                    </div>
                    <div style="display: inline-block; margin: 10px;">
                            @Html.DisplayFor(modelItem => item.Name)
                    </div>
                </td>
                <td>
                    <div class="note-block" style="background-color:@color; margin-left:0!important;">
                        @Html.DisplayFor(modelItem => item.GroupType.Name)
                    </div>
                </td>
                <td>
                    <a asp-page="/Admin/Brugere/Details" asp-route-id="@item.Leader.Id">@Html.DisplayFor(modelItem => item.Leader.FullName)</a>
                </td>
                <td>
                    @item.Members.Count()
                </td>
                <td style="width:100px;">
                    <div class="dropdwn">
                        <div class="dropdwn-btn">
                            <div class="circle-sm"></div><div class="circle-sm"></div><div class="circle-sm"></div>
                        </div>
                        <div class="dropdwn-content">
                            <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a>
                            <a class="delete" asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                        </div>
                    </div>
                </td>
            </tr>
            
                    
            }
        </tbody>
    </table>

    @if (Model.Groups.HasPreviousPage)
    {
        <a asp-page="./Index"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@(Model.Groups.PageIndex - 1)"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-myGroups="@Model.MyGroups"
            class="btn btn-primary">
            Forrige
        </a>
    }
    @if (Model.Groups.HasNextPage)
    {
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Groups.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-myGroups="@Model.MyGroups"
           class="btn btn-primary">
            Næste
        </a>
    }
    


