@page
@model Badge.Pages.Administration.Gruppe.IndexModel

@{
    ViewData["Title"] = "Gruppe";
}

<h1>Gruppe</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Leader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leader.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
