@page
@model Badge.Pages.Administration.GroupAdmin.IndexModel

@{
    ViewData["Title"] = "Gruppe";
    string allActive = Model.MyGroups ? "" : "active";
    string myActive = Model.MyGroups ? "active" : "";
}

<div class="tab">
    <div class="tab-button @allActive">
        <a asp-page="./Index"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Alle Grupper
        </a>
    </div>
    <div class="tab-button @myActive">
        <a asp-page="./Index" asp-route-myGroups="true"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Mine Grupper
        </a>
    </div>
</div>


    <div class="row" style="width:100%; padding:0; margin:0;">
        <div class="col-7" style="margin: 0; padding: 0;">
            <h1>Grupper</h1>
        </div>
        <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
            <a asp-page="Create">
                <button style="margin:auto; margin-right: 0; width:100%;" class="btn btn-primary">Opret</button>
            </a>
        </div>
    </div>

    <div class="row" style="width:100%; padding:0; margin:0;">

        <form asp-page="./Index" method="get" style="padding:0; margin:0;">
            <div class="form-actions no color">
                <p style="padding:0; margin:0;">

                    <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                        <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                    </div>
                    <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                        <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn btn-primary" />
                    </div>
                </p>
            </div>
        </form>
    </div>


    <table class="table">
        <thead>
            <index-tr>
                <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-view="">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Groups[0].Name)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Name"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
                </th>
                <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.TypeSort" asp-route-view="">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Groups[0].GroupType.Name)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Type"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
                </th>
                <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.LeaderSort" asp-route-view="">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Groups[0].Leader)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Leader"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
                </th>
                <th></th>
            </index-tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Groups)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupType.Name)
                    </td>
                    <td>
                        <a asp-page="/Administration/User/Details" asp-route-id="@item.Leader.Id">@Html.DisplayFor(modelItem => item.Leader.FullName)</a>
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Groups.HasPreviousPage)
    {
        <a asp-page="./Index"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@(Model.Groups.PageIndex - 1)"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-myGroups="@Model.MyGroups"
            class="btn btn-primary">
            Forrige
        </a>
    }
    @if (Model.Groups.HasNextPage)
    {
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Groups.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-myGroups="@Model.MyGroups"
           class="btn btn-primary">
            Næste
        </a>
    }
    


