@page
@model Badge.Pages.Administration.MemberAdmin.IndexModel

@{
    ViewData["Title"] = "Medlemmer";
}
<div class="row" style="width:100%; padding:0; margin:0;">
    <div class="col-7" style="margin: 0; padding: 0;">
        <h1>Medlemmer</h1>
    </div>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
            <a asp-page="Create">
                <button style="margin:auto; margin-right: 0; width:100%;" class="btn btn-primary">Opret</button>
            </a>
        </div>
    }
</div>


<div class="row" style="width:100%; padding:0; margin:0;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn btn-primary" />
                </div>
            </p>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr class="list-tr">
            <th></th>
            <th class="list-th">
                 <a asp-page="./Index" asp-route-sortOrder="@Model.FNameSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Members[0].FName)
                </a>
                
            </th>
            <th>
                  <a asp-page="./Index" asp-route-sortOrder="@Model.LNameSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Members[0].LName)
                </a>
            </th>
            <th>
                  <a asp-page="./Index" asp-route-sortOrder="@Model.GroupSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Members[0].Group)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.SaleSort"
                   asp-route-currrentFilter="@Model.CurrentFilter"> 
                Lodsedler solgt 
                </a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Members) {
            var rndm = new Random(item.LName.Length*item.FName.Length);
            int hue = rndm.Next(0, 360);
        <tr class="list-tr">
            <td>

                <div class="No-Img" style="background-color:hsl(@hue, 55%, 60%)">
                    <p>@item.FName.ToCharArray()[0]@item.LName.ToCharArray()[0]</p>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                <a asp-page="/Administration/Gruppe/Details" asp-route-id="@item.Group.Id">@Html.DisplayFor(modelItem => item.Group.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales.Count)
            </td>
            <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Rediger </a><p> | </p>
                        <a asp-page="./Details" asp-route-id="@item.Id">Detaljer </a><p> | </p> 
                        <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">Detaljer </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Members.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Members.HasNextPage ? "disabled" : "";
}

@if (Model.Members.HasPreviousPage)
{
    <a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Members.PageIndex - 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
        Forrige
    </a>
}

@if (Model.Members.HasNextPage)
{


    <a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Members.PageIndex + 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisabled">
        Næste

    </a>
}