@page
@model Badge.Pages.Administration.MemberAdmin.IndexModel

@{
    ViewData["Title"] = "Medlem";
}

<h1>Medlem</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no color">
        <p>
            Søg på medlem:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Tilbage til liste</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
               
                @Html.DisplayNameFor(model => model.Members[0].FName)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Group)
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.SaleSort">
                Lodsedler solgt 
                </a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Members) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
