@page
@using Badge.Interfaces
@using Badge.Resources
@model Badge.Pages.Admin.IndexModel
@inject ISalesService salesService;
@inject IMemberService memberService;
@{
}
<div class="box-full index-container">
    <h3>
        Hej
    </h3>
    <h1>
        @SignInManager.UserManager.GetUserAsync(User).Result.FName
    </h1>
    <div class="index-grid">
        <div class="index-content index-infobox">
            <div class="index-infobox-inner">
                <img src="~/images/Icon_Calendar.svg" />
            </div>
            <div class="index-infobox-inner" style="float:right; right:0;">
                <h4>@(((int)(salesService.GetEndDate()-DateTime.Now).TotalDays)) dage tilbage!</h4>
                <p>Til lodseddelsalget slutter d. @salesService.GetEndDate().ToShortDateString()</p>
            </div>
            <div class="divider-line-gradient" id="dl1"></div>
        </div>
        <div class="index-content index-infobox">
            <div class="index-infobox-inner">
                <img style="padding: 5px!important;" src="~/images/Icon_Ticket.svg" />
            </div>
            <div class="index-infobox-inner" style="float:right; right:0;">
                <h4>@salesService.GetSalesCount() lodsedler solgt.</h4>
                <p>Fortsæt det gode arbejde!</p>
            </div>
            <div class="divider-line-gradient" id="dl2"></div>
        </div>
        <div class="index-content index-infobox">
            <div class="index-infobox-inner">
                <img src="~/images/Icon_Cash.svg" />
            </div>
            <div class="index-infobox-inner" style="float:right; right:0;">
                <h4>@salesService.GetEstimatedTotalEarnings() kr tjent i alt</h4>
                <p>Baseret på sidste års resultat</p>
            </div>
            <div class="divider-line-gradient" id="dl3"></div>
        </div>
        <div class="index-content index-infobox">
            <div class="index-infobox-inner">
                <img src="~/images/Icon_Members.svg" />
            </div>
            <div class="index-infobox-inner" style="float:right; right:0;">
                <h4>@(salesService.GetSalesCount()/memberService.GetAllMembersAsync().Result.Count()) salg per medlem</h4>
                <p>Kredsens medlemmer har i gennemsnit solgt @(salesService.GetSalesCount()/memberService.GetAllMembersAsync().Result.Count()) lodder hver!</p>
            </div>
            <div class="divider-line-gradient" id="dl4"></div>
        </div>
        <div class="index-content" style="grid-area:2  / 1 / span 2 / span 3; padding: 30px!important;">

            @if (User.IsInRole("Manager"))
            {
                <h4 style="padding-bottom: 20px;">
                    Kredsens top-5 supersælgere
                </h4>
            }
            else
            {
                <h4 style="padding-bottom: 20px;">
                    Dine gruppers top-5 supersælgere
                </h4 >
            }
            
            <table style="padding: 20px!important; margin-left:15px; margin-right:15px; ">
                <thead>
                    <tr>
                        <th >
                            Position
                        </th>
                        <th>
                            Navn
                        </th>
                        <th>
                            Gruppe
                        </th>
                        <th>
                            Antal salg
                        </th>
                    </tr>
                </thead>
                @if (!User.IsInRole("Manager"))
                {
                    int i = 0;
                    <tbody>



                        @foreach (var item in Model.TopSellersLeaderGroup)
                        {
                            i++;
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    <a asp-page="/Admin/Medlem/Details" asp-route-id="@item.Id">
                                        @item.User.FullName
                                    </a>
                                </td>
                                <td>
                                    <a asp-page="/Admin/Grupper/Details" asp-route-id="@item.GroupId" style="color:@ColorResource.ResourceManager.GetString(item.Group.GroupType.Name);">
                                        @item.Group.Name
                                    </a>
                                </td>
                                <td>
                                    @item.Sales.Count()
                                </td>
                            </tr>
                        }


                    </tbody>
                }
                else
                {
                    int i = 0;
                    <tbody>
                        @foreach (var item in Model.TopSellers)
                        {
                            i++;
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    <a asp-page="/Admin/Medlem/Details" asp-route-id="@item.Id">
                                        @item.User.FullName
                                    </a>
                                </td>
                                <td>
                                    <a asp-page="/Admin/Grupper/Details" asp-route-id="@item.GroupId" style="color:@ColorResource.ResourceManager.GetString(item.Group.GroupType.Name);">
                                        @item.Group.Name
                                    </a>
                                </td>
                                <td>
                                    @item.Sales.Count()
                                </td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
        <div class="index-content" style="height:fit-content;">
            <h4 style="margin-bottom:20px; text-align:center">Overblik over lodsedler</h4>
            <div style="width:80%; height:fit-content; margin-left:auto; margin-right:auto;">
                <canvas id="soldPercentage" style="width:80%;" role="img"></canvas>
            </div>
            <br />
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <a asp-page="./Lodsedler/Index" class="btn-full">Se lodsedler</a>
                <a asp-page="./Lodsedler/Create" class="btn-full" id="add-btn-index">Opret lodsedler</a>
            }
        </div>
    </div>

</div>
<script>
    const ctx = document.getElementById('soldPercentage');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Ikke solgte lodsedler', 'Solgte lodsedler'],
            datasets: [{
                label: '',
                data: [@salesService.GetTicketsCount()-@salesService.GetSalesCount(), @salesService.GetSalesCount()],
                backgroundColor: [
                    '#94B2CD',
                    '#5F8CB4',],
                borderWidth: 2,
                cutout: 30,
                radius: 45
            }]
        },
        options: {
            layout: {
                padding: 10,
            },
            plugins: {
                legend: {
                    position: 'bottom',
                    title: {
                        display: true,
                        padding: 10
                    }
                }
            },

            scales: {
                x: {
                    display: false,

                },
                y: {
                    display: false,
                }

            }
        }
    });
</script>