@page
@model Badge.Pages.CelinasShitCorner.SelectModel
@{
}

<form method="get">
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                    @Html.DisplayNameFor(model => model.Members[0].FName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Members[0].LName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Members[0].Group)
            </th>
            <th>
                    Lodsedler solgt
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    <input name="selectedProducts" type="checkbox" title="select product" value="@item.Id"
                    @{
                        if (Model.SelectedProducts.Any(p => p.Id == item.Id))
                        {
                            @("checked=checked")
                        }
                    } />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    <a asp-page="/Administration/Grupper/Details" asp-route-id="@item.Group.Id">@Html.DisplayFor(modelItem => item.Group.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sales.Count)
                </td>
                <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Rediger </a>

                        <p> | </p>
                        <a asp-page="./Details" asp-route-id="@item.Id">Detaljer </a>

                        <p> | </p>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">Detaljer </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

    <input type="submit"/>
</form>
@{
    if (Model.SelectedProducts.Any())
    {
        @foreach(var item in Model.SelectedProducts)
        {
            <p>@item.FName</p>
        }
    }
}

<script type="text/javascript">
    $(document).ready( function() {
        $('#selectAllProducts').click(function() {
            $("#Grid tbody input:checkbox").prop("checked", this.checked);
        });
    });
</script>