@page
@model Badge.Pages.Admin.ParentAdmin.DeleteModel

@{
    ViewData["Title"] = "Slet";
}

<h1>Slet</h1>

<h3>Er du sikker på, at du vil slette denne forældre?</h3>
<div>
    <h4>Forældre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Member.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Parent.Id" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-page="./Index">Tilbage til liste</a>
    </form>
</div>
