@page
@using Badge.Interfaces
@model Badge.Pages.Admin.ParentAdmin.DetailsModel
@inject IMemberService memberService;

@{
    ViewData["Title"] = "Detajler";
}

<h1>Detajler</h1>

<div>
    <h4>Forældre</h4>
    <hr />
    <h3>
        
       
    </h3>

    @foreach (var item in Model.Parent.Members)
    {
        <div class="index-content">
            <a asp-page="/Admin/Medlem/Details" asp-route-id="@item.MemberId">
                @item.Member.User.FullName
            </a>
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Parent?.Id">Rediger</a> |
    <a asp-page="./Index">Tilbage til liste</a>
</div>
