@page
@using Badge.Interfaces
@model Badge.Pages.Admin.ParentAdmin.DetailsModel
@inject IMemberService memberService;

@{
    ViewData["Title"] = "Detajler";
}

<h1>Detajler</h1>
<h4>Forældre</h4>
<div style="display:grid; grid-template-columns: 80% auto; grid-gap: 30px;">
        <div class="index-content" style="display:inline-grid; width: 100%;">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Parent.FName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Parent.FName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Parent.LName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Parent.LName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Parent.Phone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Parent.Phone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Parent.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Parent.Email)
                </dd>
            </dl>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Parent?.Id">Rediger</a> |
            <a asp-page="./Index">Tilbage til liste</a>
        </div>
        </div>

    <div class="index-content" style="display:inline-grid">
        <h3 style="padding-bottom:0px!important;">Tilknyttede medlemmer</h3>
        @foreach (var item in Model.Parent.Members)
        {
            <div>
                <a asp-page="/Admin/Medlem/Details" asp-route-id="@item.MemberId">
                    @item.Member.User.FullName
                </a><br />
                <a asp-page="/Admin/Grupper/Details" asp-route-id="@item.Member.GroupId">
                    @item.Member.Group.Name    
                </a>
            </div>
        }
    </div>
</div>
