@page
@using Badge.Models
@model Badge.Pages.Admin.ParentAdmin.EditModel

@{
    ViewData["Title"] = "Rediger";
}

<h1>Rediger</h1>
<h4>Forælder</h4>
<div style="display:grid; grid-template-columns: 80% auto; grid-gap: 30px;">
    <div class="index-content" style="display:inline-grid; width: 100%;">
        <form method="post" asp-page-handler="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Parent.Id" />
            <div class="form-group">
                <label asp-for="Parent.FName" class="control-label"></label>
                <input asp-for="Parent.FName" class="form-control" />
                <span asp-validation-for="Parent.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.LName" class="control-label"></label>
                <input asp-for="Parent.LName" class="form-control" />
                <span asp-validation-for="Parent.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.Phone" class="control-label"></label>
                <input asp-for="Parent.Phone" class="form-control" />
                <span asp-validation-for="Parent.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.Email" class="control-label"></label>
                <input asp-for="Parent.Email" class="form-control" />
                <span asp-validation-for="Parent.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-page="./Index">Tilbage til liste</a>
        </div>
    </div>

    <div class="index-content" style="display:inline-grid">
        <h3 style="padding-bottom:0px!important;">Tilknyttede medlemmer</h3>
        @foreach (var item in Model.Parent.Members)
        {
            <div class="index-content">
                <a asp-page="/Medlemmer/Details" asp-route-id="@item.MemberId">
                    @item.Member.User.FullName
                </a>
                <form asp-page-handler="DeleteMemberParent" method="post" asp-route-memberid="@item.MemberId" asp-route-id="@Model.Parent.Id">
                    <input type="hidden" asp-for="Parent.Id" />
                    <button>delete</button>
                </form>
            </div>
        }
        @{
            <form method="post" asp-page-handler="CreateMemberParent" asp-route-memberid="@Model.SelectedMemberId" asp-route-id="@Model.Parent.Id">
                <p>Tilføj et nyt barn:</p>
                <select asp-for="@Model.SelectedMemberId" asp-items="ViewBag.MemberId"></select>
                <button>Tilføj</button>
            </form>
        }
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
