@page
@model Badge.Pages.Admin.ParentAdmin.IndexModel

@{
    ViewData["Title"] = "Forældre";
}

<div class="tab">
    <div class="tab-button @(Model.MyGroups ? "" : "active")">
        <a asp-page="./Index" asp-route-mygroups="false"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Forældre i alle grupper
        </a>
    </div>
    @if (User.IsInRole("Leader"))
    {
        <div class="tab-button  @(Model.MyGroups ? "active" : "")">
            <a asp-page="./Index" asp-route-myGroups="true"
               asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
                Forældre i mine grupper
            </a>
        </div>
    }
</div>

<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">
    <div class="col-7">
        <h1>Forældre</h1>
    </div>
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        <a asp-page="Create">
            <button style="margin:auto; margin-right: 0; width:100%;" class="btn-def">Opret</button>
        </a>
    </div>
</div>

<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn-def" />
                </div>
            </p>
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.FNameSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Parents[0].FName)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("FName"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.LNameSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Parents[0].LName)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("LName"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.MemberSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            Barn
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("memberName"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.PhoneSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Parents[0].Phone)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Phone"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.EMailSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Parents[0].Email)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Email"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parents) {
            var rndm = new Random(item.LName.Length*item.FName.Length);
            int hue = rndm.Next(0, 360);
        <tr>
            <td>
                    <div class="No-Img" style="background-color:hsl(@hue, 55%, 60%)">
                        <p>@item.FName.ToCharArray()[0]@item.LName.ToCharArray()[0]</p>
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
                <td>
                    @foreach (var child in item.Members)
                    {
                        <a asp-page="/Medlemmer/Details" asp-route-id="@child.MemberId">
                            @child.Member.User.FullName

                        </a>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td style="width:100px;">
                    <div class="dropdwn">
                        <div class="dropdwn-btn">
                            <div class="circle-sm"></div><div class="circle-sm"></div><div class="circle-sm"></div>
                        </div>
                        <div class="dropdwn-content">
                            <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a>
                            <a class="delete" asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>

@* Pagebuttons *@
@if (Model.Parents.TotalPages > 1)
{

    <div class="pagination">

        @if (Model.Parents.HasPreviousPage)
        {
            <a asp-page="./Index"
               asp-route-mygroups="@Model.MyGroups"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    first_page
                </span>
            </a>
            <a asp-page="./Index"
               asp-route-mygroups="@Model.MyGroups"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Parents.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    navigate_before
                </span>
            </a>
        }
        else
        {
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    first_page
                </span>
            </span>
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    navigate_before
                </span>
            </span>
        }

        @for (int i = 0; i < Model.Parents.TotalPages; i++)
        {
            var pagenumber = i + 1;
            string currentpage = pagenumber == Model.PageIndex ? "pagebtn-active" : "";
            <a asp-page="./Index"
               asp-route-mygroups="@Model.MyGroups"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(pagenumber)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn @currentpage">@pagenumber</a>
        }

        @if (Model.Parents.HasNextPage)
        {
            <a asp-page="./Index"
               asp-route-mygroups="@Model.MyGroups"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Parents.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    navigate_next
                </span>
            </a>
            <a asp-page="./Index"
               asp-route-mygroups="@Model.MyGroups"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Parents.TotalPages)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    last_page
                </span>
            </a>
        }
        else
        {
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    navigate_next
                </span>
            </span>
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    last_page
                </span>
            </span>
        }
    </div>
}


