@page
@model Badge.Pages.Administration.ParentAdmin.IndexModel

@{
    ViewData["Title"] = "Forældre";
}

<h1>Forældre</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no color">
    <p>
        Søg på fornavn:
        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-page="./Index">Tilbage til liste</a>
    </p>
    </div>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.MemberSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                Barn 
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FNameSort"
                asp-route-currrentFilter="@Model.CurrentFilter">

                @Html.DisplayNameFor(model => model.Parents[0].FName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parents[0].LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parents[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parents[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detajler</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Parents.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Parents.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
asp-route-sortOrder="@Model.CurrentSort"
asp-route-pageIndex="@(Model.Parents.PageIndex - 1)"
asp-route-currentFilter="@Model.CurrentFilter"
class="btn btn-primary @prevDisabled">
Previous
</a>

<a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Parents.PageIndex + 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisabled">
    Next

</a>
