@page
@model Badge.Pages.Administration.ParentAdmin.IndexModel

@{
    ViewData["Title"] = "Forældre";
}

<div class="row" style="width:100%; padding:0; margin:0;">
    <div class="col-7" style="margin: 0; padding: 0;">
        <h1>Forældre</h1>
    </div>
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        <a asp-page="Create">
            <button style="margin:auto; margin-right: 0; width:100%;" class="btn btn-primary">Opret</button>
        </a>
    </div>
</div>

<div class="row" style="width:100%; padding:0; margin:0;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn btn-primary" />
                </div>
            </p>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.MemberSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                Barn 
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FNameSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Parents[0].FName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LNameSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Parents[0].LName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PhoneSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Parents[0].Phone)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EMailSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Parents[0].Email)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parents) {
        <tr>
            <td>
                    <a asp-page="/Administration/Medlem/Details" asp-route-id="@item.Member.Id">@Html.DisplayFor(modelItem => item.Member.FullName) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detajler</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.Parents.HasPreviousPage)
{
    <a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Parents.PageIndex - 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary">
        Forrige
    </a>
}
@if (Model.Parents.HasNextPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Parents.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary">Næste</a>
}

