@page
@model Badge.Pages.Admin.TicketAdmin.DetailsModel

@{
    ViewData["Title"] = "Detajler";

}

<h1>Detajler</h1>
<div class="box-full" style="height:fit-content; display:flex;" > 
    <div class="box-half">
        <h4>Lodseddel</h4>
        <hr />
        <dl class="row">
            <dt>ID</dt>
            <dd>@Model.Ticket.Id</dd>

 

            @if (Model.Sale == null)
            {
                <dt>Gruppe tildeling</dt>
                <dd>
                    @if (Model.TicketGroupAssign == null)
                    {
                        <p>Ikke tildelt en gruppe</p>
                    }
                    else
                    {
                        <p>Tildelt <a asp-page="/Administration/Grupper/Details" asp-route-id="@Model.TicketGroupAssign.Group.Id">@Model.TicketGroupAssign.Group.Name</a><form method="post" asp-page-handler="DeleteGroupAssign" asp-route-id="@Model.Ticket.Id"><button class="btn btn-primary">Delete</button></form> </p>

                    }
                </dd>
                <dt>Medlems tildeling</dt>
                <dd>
                    @if (Model.TicketMemberAssign == null)
                    {
                        <p>Ikke tildelt et medlem</p>
                    }
                    else
                    {
                        <p>Tildelt <a asp-page="/Administration/Medlem/Details" asp-route-id="@Model.TicketMemberAssign.Member.Id">@Model.TicketMemberAssign.Member.User.FullName</a><form method="post" asp-page-handler="DeleteMemberAssign" asp-route-id="@Model.Ticket.Id"><button class="btn btn-primary">Delete</button></form> </p>
                    }
                </dd>
            }
            else
            {
                
            }
        </dl>
    </div>

    <div class="box-3rd" style="margin: auto; margin-right:0px; margin-top:0px;">
        
        @if(Model.Sale != null)
        {
            <h4>Kvittering</h4>
            <dt>Solgt af</dt>
            <dd>
                @if (Model.Sale.Seller != null)
                {
                    <a asp-page="/Administration/Medlem" asp-route-id="@Model.Sale.SellerId">@Model.Sale.Seller.User.FName</a>
                    <span> - </span>
                    <a asp-page="/Admin/Medlem" asp-route-id="@Model.Sale.Seller.GroupId">@Model.Sale.Seller.Group.Name</a>
                }
                
                </dd>
            <dt>Dato for salg</dt>
            <dd>@Model.Sale.SalesDate.ToShortDateString()</dd>
            <dt>Salgs-kanal</dt>
            <dd>@Model.Sale.Channel.Name</dd>
            <dt>Betaling modtaget</dt>
            <dd>@Html.DisplayFor(modelItem => Model.Sale.PaymentCollected)</dd>
        }
        else
        {
            <h3>Tildel</h3>
            <form method="post" asp-page-handler="AddAssign" asp-route-id="@Model.Ticket.Id">
                
                <div class="form-group">
                <label asp-for="TicketGroupAssign.GroupId" class="control-label"></label>
                @if (Model.TicketGroupAssign == null){
                        <select asp-for="TicketGroupAssign.GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                    }
                    else
                    {
                        <select asp-for="TicketGroupAssign.GroupId" class="form-control" asp-items="ViewBag.GroupId" disabled></select>
                    }
                <span asp-validation-for="TicketGroupAssign.GroupId" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                <label asp-for="TicketMemberAssign.MemberId" class="control-label"></label>
                @if (Model.TicketGroupAssign == null || Model.TicketMemberAssign != null)
                {
                        <select asp-for="TicketMemberAssign.MemberId" class="form-control" asp-items="ViewBag.GroupMembers" disabled></select>
                    }
                    else
                    {
                        <select asp-for="TicketMemberAssign.MemberId" class="form-control" asp-items="ViewBag.GroupMembers"></select>
                    }
                    
                    <span asp-validation-for="TicketMemberAssign.MemberId" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Gem" style="width: 100%; margin-top: 20px;" class="btn btn-primary">
                </div>
            </form>

        }
    </div>
</div>

<div class="box-full"  >
    <a asp-page="./Index">Tilbage til liste</a>
</div>
<div>
  
   
</div>
