@page
@model Badge.Pages.Admin.TicketAdmin.IndexModel

@{
    ViewData["Title"] = "Lodseddel";
}
<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">
    <div class="col-7">
        <h1>Lodsedler</h1>
    </div>
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <a asp-page="Create">
                <button style="margin:auto; margin-right: 0; width:100%;" class="btn-def">Opret</button>
            </a>
        }
    </div>
</div>
<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn-def" />
                </div>
            </p>
        </div>
    </form>
</div>

<div style="display:grid; grid-template-columns: auto auto auto; grid-column-gap: 20px; width:fit-content; height:40px; float:right; margin-top: 3px;">

    @if (Model.CanAssignGroup())
    {
        <div style="display:inline-grid; ">
            <form method="post" asp-page-handler="CreateGroupAssign" style="display:inline-block!important;">
                @foreach (var item in Model.SelectedTickets)
                {
                    <input hidden asp-for="PageIndex" />
                    <input name="selectedTickets" value="@item.Id" hidden />
                }
                <select name="selectedGroup" asp-items="ViewBag.GroupId" style="height:100%; border:none; padding-left: 20px; padding-right:20px;"></select>
                <button style="height: 100%; padding-left: 20px; padding-right:20px; background-color: #05c46b;">Tilddel Gruppe</button>
            </form>
        </div>
    }


    @if (Model.CanAssingMember())
    {
        <div style="display:inline-grid;">
            <form method="post" asp-page-handler="CreateMemberAssign">
                @foreach (var item in Model.SelectedTickets)
                {
                    <input hidden asp-for="PageIndex" />
                    <input name="selectedTickets" value="@item.Id" hidden />
                }
                <select style="height:100%; border:none; padding-left: 20px; padding-right:20px;" name="selectedMember" asp-items="ViewBag.MemberId"></select>
                <button style="height: 100%; padding-left: 20px; padding-right:20px;background-color: #05c46b;">Tilddel Medlem</button>
            </form>
        </div>
    }



    @if (Model.CanAssign())
    {
        <div style="display:inline-grid;">
            <form method="post" asp-page-handler="Delete">
                @foreach (var item in Model.SelectedTickets)
                {
                    <input name="selectedTickets" value="@item.Id" hidden />
                }
                <button style="height: 100%; margin:0px!important; background-color: #ea8685; padding-left: 20px; padding-right:20px;">Slet lodsedler</button>
            </form>
        </div>
    }

</div>

<form method="get">
    @if (Model.CurrentFilter != null)
    {
        <input name="searchString" value="@Model.CurrentFilter" hidden />
    }
    @if (Model.CurrentSort != null)
    {
        <input name="sortOrder" value="@Model.CurrentSort" hidden />
    }


    <table>
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" />
                </th>
                <th>
                    <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.TicketSort" asp-route-searchString="@Model.CurrentFilter">
                        <div class="srt-container">
                            <div class="srthead-container">
                                @Html.DisplayNameFor(model => model.Tickets[0].Id)
                            </div>
                            <div class="srtarw-container">
                                @if (Model.CurrentSort != null && Model.CurrentSort.Contains("id"))
                                {
                                    if (Model.CurrentSort.Contains("asc"))
                                    {
                                        <div class="srtarw actup"></div>
                                        <div class="srtarw inactdwn"></div>
                                    }
                                    else
                                    {
                                        <div class="srtarw inactup"></div>
                                        <div class="srtarw actdwn"></div>
                                    }
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                            </div>
                        </div>
                    </a>
                </th>
                <th>
                    <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.GroupNameSort" asp-route-searchString="@Model.CurrentFilter">
                        <div class="srt-container">
                            <div class="srthead-container">
                                Gruppe
                            </div>
                            <div class="srtarw-container">
                                @if (Model.CurrentSort != null && Model.CurrentSort.Contains("group"))
                                {
                                    if (Model.CurrentSort.Contains("asc"))
                                    {
                                        <div class="srtarw actup"></div>
                                        <div class="srtarw inactdwn"></div>
                                    }
                                    else
                                    {
                                        <div class="srtarw inactup"></div>
                                        <div class="srtarw actdwn"></div>
                                    }
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                            </div>
                        </div>
                    </a>
                </th>
                <th>
                    <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.MemberNameSort" asp-route-searchString="@Model.CurrentFilter">
                        <div class="srt-container">
                            <div class="srthead-container">
                                Medlem
                            </div>
                            <div class="srtarw-container">
                                @if (Model.CurrentSort != null && Model.CurrentSort.Contains("member"))
                                {
                                    if (Model.CurrentSort.Contains("asc"))
                                    {
                                        <div class="srtarw actup"></div>
                                        <div class="srtarw inactdwn"></div>
                                    }
                                    else
                                    {
                                        <div class="srtarw inactup"></div>
                                        <div class="srtarw actdwn"></div>
                                    }
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                            </div>
                        </div>
                    </a>
                </th>
                <th>
                    <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.SoldSort" asp-route-searchString="@Model.CurrentFilter">
                        <div style="margin:auto;" class="srt-container">
                            <div class="srthead-container">
                                Solgt
                            </div>
                            <div class="srtarw-container">
                                @if (Model.CurrentSort != null && Model.CurrentSort.Contains("sold"))
                                {
                                    if (Model.CurrentSort.Contains("asc"))
                                    {
                                        <div class="srtarw actup"></div>
                                        <div class="srtarw inactdwn"></div>
                                    }
                                    else
                                    {
                                        <div class="srtarw inactup"></div>
                                        <div class="srtarw actdwn"></div>
                                    }
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                            </div>
                        </div>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>
                        <input hidden asp-for="PageIndex" />
                        <input name="selectedTickets" type="checkbox" onChange="this.form.submit()" title="select ticket" value="@item.Id" @{
                            if (Model.SelectedTickets.Any(p => p.Id == item.Id))
                            {
                                @("checked=checked")
                            }
                        } @(Model.Sales.FirstOrDefault(s => s.TicketId == item.Id) != null ? "disabled" : "") />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @if (item.TicketGroupAssign != null)
                        {
                            <a asp-page="/Admin/Group/Details" asp-route-id="@item.TicketGroupAssign.Group.Id">@item.TicketGroupAssign.Group.Name</a>
                        }
                        else
                        {
                            <p>Ikke tildelt</p>
                        }
                    </td>
                    <td>
                        @if (item.TicketMemberAssign != null)
                        {
                            <a asp-page="/Admin/Medlem/Details" asp-route-id="@item.TicketMemberAssign.Member.Id">@item.TicketMemberAssign.Member.User.FullName</a>
                        }
                        else
                        {
                            <p>Ikke tildelt</p>
                        }
                    </td>
                    <td>
                        @if (Model.Sales.FirstOrDefault(s => s.TicketId == item.Id) != null)
                        {
                            <div class="note-block note-green">Solgt</div>
                        }
                        else
                        {
                            <div class="note-block note-red">Ikke Solgt</div>
                        }
                    </td>
                    <td style="width:100px;">
                        <div class="dropdwn">
                            <div class="dropdwn-btn">
                                <div class="circle-sm"></div><div class="circle-sm"></div><div class="circle-sm"></div>
                            </div>
                            <div class="dropdwn-content">
                                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a>
                                <a class="delete" asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@* Pagebuttons *@
@if (Model.Tickets.TotalPages > 1)
{

    <div class="pagination">

        @if (Model.Tickets.HasPreviousPage)
        {
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    first_page
                </span>
            </a>
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Tickets.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    navigate_before
                </span>
            </a>
        }
        else
        {
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    first_page
                </span>
            </span>
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    navigate_before
                </span>
            </span>
        }

        @for (int i = 0; i < Model.Tickets.TotalPages; i++)
        {
            var pagenumber = i + 1;
            string currentpage = pagenumber == Model.PageIndex ? "pagebtn-active" : "";
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(pagenumber)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn @currentpage">@pagenumber</a>
        }

        @if (Model.Tickets.HasNextPage)
        {
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Tickets.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    navigate_next
                </span>
            </a>
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Tickets.TotalPages)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="pagebtn">
                <span class="material-symbols-rounded">
                    last_page
                </span>
            </a>
        }
        else
        {
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    navigate_next
                </span>
            </span>
            <span class="pagebtn pagebtn-disabled">
                <span class="material-symbols-rounded">
                    last_page
                </span>
            </span>
        }
    </div>

}
