@page
@model Badge.Pages.Admin.TicketAdmin.IndexModel

@{
    ViewData["Title"] = "Lodseddel";
}
<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">
    <div class="col-7">
        <h1>Lodsedler</h1>
    </div>
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        <a asp-page="Create" >
            <button style="margin:auto; margin-right: 0; width:100%;" class="btn-def">Opret</button>
        </a>
    </div>
</div>
<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn-def" />
                </div>
            </p>
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.TicketSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Tickets[0].Id)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("id"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.GroupNameSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            Gruppe
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("group"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.MemberNameSort" asp-route-searchString="@Model.CurrentFilter">
                    <div class="srt-container">
                        <div class="srthead-container">
                            Medlem
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("member"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.SoldSort" asp-route-searchString="@Model.CurrentFilter">
                    <div style="margin:auto;" class="srt-container">
                        <div class="srthead-container">
                            Solgt
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("sold"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tickets) {
        <tr>
            <td></td>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @if (item.TicketGroupAssign != null){
                        @item.TicketGroupAssign.Group.Name
                    } else
                    {
                        <p>Ikke tildelt</p>
                    }
            </td>
            <td>
                @if (item.TicketMemberAssign != null)
                {
                    <a asp-page="/Admin/Medlem/Details" asp-route-id="@item.TicketMemberAssign.Member.Id">@item.TicketMemberAssign.Member.User.FullName</a>
                }
                else
                {
                    <p>Ikke tildelt</p>
                }
            </td>
                    <td>
                    @if (Model.Sales.FirstOrDefault(s=>s.TicketId == item.Id) != null)
                    {
                        <div class="note-block note-green">Solgt</div>
                    }else
                    {
                        <div class="note-block note-red">Ikke Solgt</div>
                    }
                </td>
                <td style="width:100px;">
                    <div class="dropdwn">
                        <div class="dropdwn-btn">
                            <div class="circle-sm"></div><div class="circle-sm"></div><div class="circle-sm"></div>
                        </div>
                        <div class="dropdwn-content">
                            <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a>
                            <a class="delete" asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Tickets.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Tickets.HasNextPage ? "disabled" : "";
}
@if (Model.Tickets.HasPreviousPage)
{
    <a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Tickets.PageIndex - 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
        Forrige
    </a>
}

@if(Model.Tickets.HasNextPage)
 {
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Tickets.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Næste

</a>
 }

