@page
@model Badge.Pages.Admin.UserAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<div>
    <div class="box-full flex">
        <div class="box-full">
            <h4>Info</h4>
            <div style="float:right; margin-top: -50px;">
                @foreach (var item in Model.Roles)
                {
                    string name = TextResource.ResourceManager.GetString(item.Name);
                    string color = ColorResource.ResourceManager.GetString(item.Name);
                    <div class="note-block note-green" style="display: inline-block; background-color:@color; text-transform:capitalize!important; margin-inline-end: 5px;">
                        <p style="display:inline-block;">@name</p>
                        <form style="display:inline-block; margin-left:10px!important; margin-right:-10px!important;" method="post" asp-page-handler="DeleteRole" asp-route-id="@Model.Input.Id" asp-route-roleid="@item.Id">
                            <input style="border-radius:50%; height:22px; width:22px;" type="submit" value="x" />
                        </form>
                    </div>
                    
                }
            </div>
        </div>
    </div>
    <h4>Bruger</h4>
    <hr />

    <div class="row">
        <form method="post" asp-page-handler="Edit" asp-route-id="@Model.Input.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Fornavn</label>
                <input asp-for="Input.FName" class="form-control" />
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Efternavn</label>
                <input asp-for="Input.LName" class="form-control" />
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tlf.</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="row">

        <form method="post" asp-page-handler="AddRole" asp-route-id="@Model.Input.Id">
            <div class="form-group">
                <label asp-for="Input.RoleId" class="control-label"></label>
                <select asp-for="Input.RoleId" class="form-control" asp-items="ViewBag.RoleId" style="text-transform:capitalize;"></select>
                <span asp-validation-for="Input.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
