@page
@model Badge.Pages.Administration.User.ManagerDetailsModel
@{
    ViewData["Title"] = "ManagerDetauks";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.User.FName @Model.User.LName - Bestyrer</h1>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./ManagerEdit" asp-route-id="@Model.User?.Id">Edit</a> |
    <a asp-page="./ManagerIndex">Back to List</a>
</div>