@page
@model Badge.Pages.Administration.TicketAdmin.IndexModel

@{
    ViewData["Title"] = "Lodseddel";
}
<div class="row" style="width:100%; padding:0; margin:0;">
    <div class="col-7" style="margin: 0; padding: 0;">
        <h1>Lodsedler</h1>
    </div>
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        <a asp-page="Create" >
            <button style="margin:auto; margin-right: 0; width:100%;" class="btn btn-primary">Opret</button>
        </a>
    </div>
</div>


<div class="row" style="width:100%; padding:0; margin:0;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="SearchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding-left: 20px; border:none; border-radius: 5px 0 0 5px;" type="text" name="SearchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; border:none; border-radius:0 5px 5px 0; " type="submit" value="Søg" class="btn btn-primary" />
                </div>
            </p>
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.TicketSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Tickets[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GroupNameSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                    Gruppe 
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.MemberNameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    Medlem
                </a>
            </th>
            <th>
                Solgt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tickets) {
        <tr>
            <td></td>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @if (item.TicketGroupAssign != null){
                        @item.TicketGroupAssign.Group.Name
                    } else
                    {
                        <p>-</p>
                    }
            </td>
            <td>
                    @if (item.TicketMemberAssign != null)
                        {
                        <a asp-page="/Administration/Medlem/Details" asp-route-id="@item.TicketMemberAssign.Member.Id">@item.TicketMemberAssign.Member.FullName</a>
                        
                        }
                        else
                        {
                         <p>-</p>
                        }
                    </td>
                    <td>
                    @if (Model.Sales.FirstOrDefault(s=>s.TicketId == item.Id) != null)
                    {
                        <div class="note-block note-green">Solgt</div>
                    }else
                    {
                        <div class="note-block note-red">Ikke Solgt</div>
                    }
                </td>
                <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Tickets.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Tickets.HasNextPage ? "disabled" : "";
}
@if (Model.Tickets.HasPreviousPage)
{
    <a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Tickets.PageIndex - 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
        Forrige
    </a>
}

@if(Model.Tickets.HasNextPage)
 {
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Tickets.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Næste

</a>
 }

