@page
@model Badge.Pages.Administration.Salg.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Ticket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Ticket.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Seller.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Channel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Channel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.PaymentCollected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.PaymentCollected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SalesDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SalesDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
