@page
@model Badge.Pages.Administration.Salg.IndexModel

@{
    ViewData["Title"] = "Salg";
}

<h1>Salg</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p
<form asp-page="./Index" method="get">
    <div class="form-actions no color">
        <p>
            Søg på et salg:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Tilbage til liste</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Seller.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Channel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].PaymentCollected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].SalesDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sales) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCollected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
