@page
@model Badge.Pages.Administration.SalesAdmin.IndexModel

@{
    ViewData["Title"] = "Salg";
}

<h1>Salg</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no color">
        <p>
            Søg på et salg:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Tilbage til liste</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.TicketSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Sales[0].Ticket)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.SellerSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Sales[0].Seller.FName)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.ChannelSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Sales[0].Channel.Name)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.PaymentCollectedSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Sales[0].PaymentCollected)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.SalesDateSort"
                asp-route-currrentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Sales[0].SalesDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sales) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCollected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Sales.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sales.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Sales.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Sales.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next

</a>
