@page
@using System.Drawing
@model Badge.Pages.Administration.User.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    string allActive = Model.View == null ? "active" : "";
    string leaderActive = Model.View == "leader" ? "active" : "";
    string managerActive = Model.View == "manager" ? "active" : "";
}
<div class="tab">
    <div class="tab-button @allActive">
        <a asp-page="./Index"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Alle brugere
        </a>
    </div>
    <div class="tab-button @leaderActive">
        <a asp-page="./Index" asp-route-view="leader"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Ledere
        </a>
    </div>
    <div class="tab-button @managerActive">
        <a asp-page="./Index" asp-route-view="manager"
           asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
            Bestyrere
        </a>
    </div>
</div>

<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">
    <div class="col-7">
        @switch (Model.View)
        {
            case "leader":
                <h1>Alle ledere</h1>
                break;
            case "manager":
                <h1>Alle bestyrere</h1>
                break;
            default:
                <h1>Alle brugere</h1>
                break;
        }
        
    </div>
    @if(User.IsInRole("Manager")){
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        <a asp-page="Create">
            <button style="margin:auto; margin-right: 0; width:100%;" class="btn-def">Opret</button>
        </a>
    </div>
    }
</div>

<div class="row" style="width:100%; padding:0; margin:0; margin-bottom:20px;">
    <form asp-page="./Index" method="get" asp-route-view="@Model.View" style="padding:0;">
        <div style="width:100%; padding:0; margin:0;">
            <input name="view" value="@Model.View" hidden />
                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="searchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding: 0; border:none; border-radius: 5px 0 0 5px;" type="text" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; border-radius:0 5px 5px 0;" type="submit" value="Søg" class="btn-def"/>
                </div>
        </div>
    </form>
</div>

<table>
    <thead>
        <tr class="index-tr">
            <th></th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.FNameSort" asp-route-view="">
                <div class="srt-container">
                    <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Users[0].FName)
                    </div>
                    <div class="srtarw-container">
                        @if (Model.CurrentSort != null && Model.CurrentSort.Contains("FName")) 
                        {
                            if (Model.CurrentSort.Contains("asc"))
                            {
                                <div class="srtarw actup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw actdwn"></div>
                            }
                        }
                        else
                        {
                            <div class="srtarw inactup"></div>
                            <div class="srtarw inactdwn"></div>
                        }
                      </div>
                </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.LNameSort" asp-route-view="">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Users[0].LName)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("LName"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.EMailSort" asp-route-view="">
                    <div class="srt-container">
                        <div class="srthead-container">
                            @Html.DisplayNameFor(model => model.Users[0].Email)
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Email"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th>
                <a class="index-th-a" asp-page="./Index" asp-route-sortOrder="@Model.PhoneSort" asp-route-view="">
                    <div class="srt-container">
                        <div class="srthead-container">
                            Tlf. Nr.
                        </div>
                        <div class="srtarw-container">
                            @if (Model.CurrentSort != null && Model.CurrentSort.Contains("Phone"))
                            {
                                if (Model.CurrentSort.Contains("asc"))
                                {
                                    <div class="srtarw actup"></div>
                                    <div class="srtarw inactdwn"></div>
                                }
                                else
                                {
                                    <div class="srtarw inactup"></div>
                                    <div class="srtarw actdwn"></div>
                                }
                            }
                            else
                            {
                                <div class="srtarw inactup"></div>
                                <div class="srtarw inactdwn"></div>
                            }
                        </div>
                    </div>
                </a>
            </th>
            <th width="100px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr class="index-tr">
                <td>
                    @if (item.AppUImageData != null)
                    {
                        <img src="data:image/png;base64,@item.AppUImageData" width="50px" height="auto" />
                    }
                    else
                    {

                        var rndm = new Random(item.LName.Length*item.FName.Length);
                        int hue = rndm.Next(0, 360);
                        <div class="No-Img" style="background-color:hsl(@hue, 55%, 65%)"><p>@item.FName.ToCharArray()[0]@item.LName.ToCharArray()[0]</p></div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td style="width:100px;">
                    <div class="dropdwn">
                        <div class="dropdwn-btn">
                            <div class="circle-sm"></div><div class="circle-sm"></div><div class="circle-sm"></div>
                        </div>
                        <div class="dropdwn-content">
                            <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a>
                            <a class="delete" asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Users.HasPreviousPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary">
        Forrige
    </a>
}
@if (Model.Users.HasNextPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary">Næste</a>
}