@page
@model Badge.Pages.Administration.User.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="tab">
    <a class="tablinks" asp-page="./Index"
       asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
        Alle brugere
    </a>
    <a class="tablinks" asp-page="./Index" asp-route-view="leader"
       asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
        Ledere
    </a>
    <a class="tablinks" asp-page="./Index" asp-route-view="manager"
       asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">
        Bestyrere
    </a>
</div>

<div class="row" style="width:100%; padding:0; margin:0;">
    <div class="col-7">
        <h1>Ledere</h1>
    </div>
    @if(User.IsInRole("Manager")){
    <div class="col-2" style="margin-right:0; margin-left:auto; padding:0; width:10%;">
        <a asp-page="Create">
            <button style="margin:auto; margin-right: 0; width:100%;" class="btn btn-primary">Opret</button>
        </a>
    </div>
    }
</div>

<div class="row" style="width:100%; padding:0; margin:0;">

    <form asp-page="./Index" method="get" style="padding:0; margin:0;">
        <div class="form-actions no color">
            <p style="padding:0; margin:0;">

                <div style="width:90%; height:40px; padding:0; margin:0;float:left;">
                    <input name="searchString" value="@Model.CurrentFilter" style="width:100%; height:100%; margin:0; padding: 0; border:none; border-radius: 5px 0 0 5px;" type="text" name="searchString" value="" />
                </div>
                <div style="width:10%; height:40px; padding:0 ; margin:0; float:right;">
                    <input style="width:100%; height:100%; margin:0px; padding: 0; border:none; border-radius:0 5px 5px 0; " type="submit" value="Search" class="btn btn-primary" />
                </div>
            </p>
        </div>
    </form>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FNameSort">
                    @Html.DisplayNameFor(model => model.Users[0].FName)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.LNameSort">
                @Html.DisplayNameFor(model => model.Users[0].LName)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.EMailSort">
                @Html.DisplayNameFor(model => model.Users[0].Email)
                </a>
            </th>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.PhoneSort">
                @Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {



            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Users.HasPreviousPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary">
        Forrige
    </a>
}
@if (Model.Users.HasNextPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary">Næste</a>
}