@page
@model Badge.Pages.Admin.MemberAdmin.DetailsModel

@{
    ViewData["Title"] = "Detajler";
}

<h1>Detajler</h1>

<div>
    <h4>Medlem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.User.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.User.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.User.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.User.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Group)
        </dt>
       
        <dd class="col-sm-10">
            <a asp-page="/Admin/Grupper/Details" asp-route-id="@Model.Member.Group.Id">@Html.DisplayFor(model => model.Member.Group.Name)</a>
        </dd>
         @foreach (var item in Model.Parents)
        {
            <dt class="col-sm-2">
                Forældrenavn
            </dt>
            
            <dd class="col-sm-10">
                <a asp-page="/Admin/Foraeldre/Details" asp-route-id="@item.Id"> @item.FName @item.LName</a>  
            </dd>

        }
    </dl>
</div>
<div>
    @if(User.IsInRole("Manager") || UserManager.GetUserId(User) == Model.Member.Group.LeaderId)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Member?.Id">Rediger</a><p> | </p>

    }
    <a asp-page="./Index">Tilbage til liste</a>
</div>
